// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.app-btn {
    color: $btn-text-color;
    font-size: $btn-text-size;
    text-transform: uppercase;
    background-color: $btn-bg-color-primary;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 0;
    border-bottom: 2px solid $btn-border-color-primary;
    padding: 7px 8px;
    margin: 0 5px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        // TODO handle button hover, focus & active animation
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }
}

.app-btn--large {
    font-size: $btn-lrg-text-size;
    padding: 18px;
}

.app-btn--pistache {
    background-color: $btn-bg-color-secondary;
    border-bottom: none;
}