// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.app-login-header {
    font-family: $ls-primary-font;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 2.7;
    color: $ls-contrast-font-color;
    background: map-get($ls-bg-colors, 'black');
    min-height: 30px;

    .header-info {
        .app-currency-switcher {
            border: 2px groove #444;
            border-top: none;
            border-bottom: none;
            .currency-switcher-button {
                background: map-get($ls-bg-colors, 'black');
                border: none;
                color: $ls-contrast-font-color;
                outline: $ls-contrast-font-color;
                cursor: pointer;
            }
            padding: 0 10px;
        }
        .app-myaccount-container {
            border: none;
            border-right: 2px groove #444;
            padding: 0 10px;
            * {
                color: $ls-contrast-font-color;
                text-decoration: none;
            }
            a {
                cursor: pointer;
                .fa-user {
                    color: map-get($ls-bg-colors, 'dark-grey');
                    padding-right: 10px;
                }
            }
        } //TODO: this is a draft search box, needs revisiting
        #search-box {
            color: inherit;
            font-size: inherit;
            width: 0;
            height: 70%;
            background: none;
            border: none;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            padding: 0;
            transition: width 0.5s linear;
            &:focus {
                border-right: none;
                outline: $ls-contrast-font-color;
            }
            &.show {
                width: 200px;
                margin: 0 10px;
            }
        }
        .app-search {
            padding: 10px;
            border-right: 2px groove #444;
            cursor: pointer;
        }
    }
}

.app-main-header {
    .main-header-row {
        #app-logo-container {
            #mobile-logo {
                display: none;
            }
            .app-logo-img-container {
                margin: 0;
                display: inline-block;            
            }
        }
    }
}

// Header responsive styles
@media only screen and (max-width: 767px) {
    .app-login-header {
        .container {
            max-width: 100%;
            padding: 0;

            .row {
                padding: 0 15px;
                .header-cc {
                    color: #838383;            
                    align-items: center !important;
                    justify-content: center !important;
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 20px 10px;
                    background: map-get($ls-bg-colors, 'light-grey2');
                }
                .header-info {            
                    justify-content: space-evenly !important;
        
                    * {
                        font-size: 1.5rem;
                    }
        
                    .app-currency-switcher {
                        border-left: none;
                        width: 20%;
                        text-align: center;
                    }
                    .app-myaccount-container {
                        width: 60%;
                        text-align: center;
                        justify-content: center !important;
                    }
                    .app-search {
                        border-right: none;
                        width: 20%;
                        text-align: center;
                    }
                }
            }    
        }

    }


    .app-main-header {
        .main-header-row {
            #app-logo-container {
                text-decoration: none;                

                #mobile-logo {
                    display: block;
                    font-size: 5.6rem;
                    font-weight: 700;
                    color: #000;
                    text-align: center;
                    padding: 20px 0;
                }
                .app-logo-img-container {                    
                    display: none;            
                }
            }

            .mycart-container {
                width: 100%;

                .mycart-header {
                    display: none !important;
                     #mycart {
                         .cart {
                             z-index: 100;
                         }
                     }
                }

                .mycart-summary-container {
                    font-size: 1.875rem;
                    height: 96px;
                    padding: 0 30px;
                }
            }
        }
    }
}
