// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    .top-row {
        height: 30px;
        background-color: $black-color;

        @media screen and (max-width: 768px) {
            background-color: transparent;
            height: auto;
        }

        .top-row-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                padding: 0;
            }

            .customer-care {
                font-size: 0.6875rem;
                font-weight: normal;
                color: $white-color;
                @extend .text-uppercase;

                @media screen and (max-width: 768px) {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    width: 100%;
                    height: 30px;
                    color: $text-color;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-transform: uppercase;
                }

                >span {
                    padding-left: 5px;
                }
            }

            .quick-menu {
                color: $white-color;

                @media screen and (max-width: 768px) {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    width: 100%;
                    color: $white-color;
                    background-color: $black-color;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}