// -----------------------------------------------------------------------------
// This file contains all styles related to the cards component
// -----------------------------------------------------------------------------
.app-card-container {
    padding: 15px;
    .app-card {
        background-color: $ls-contrast-font-color;
        width: 220px;
        height: calc(295px + 105px); // padding: 15px; //TODO add the padding to the width & height
        .card-img {
            position: relative;
            width: 220px;
            height: 295px;
            img {
                display: block;
                width: 220px;
                height: 295px;
            }
            .sale-badge {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 0.625rem;
                color: $ls-contrast-font-color;
                text-transform: uppercase;
                width: 50px;
                height: 50px;
                padding: 3px;
                /* Old browsers */
                /* FF3.6-15 */
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg, #4c4c4c 0%, #4c4c4c 50%, $ls-contrast-font-color 51%, $ls-contrast-font-color 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='$ls-contrast-font-color', GradientType=1);
                /* IE6-9 fallback on horizontal gradient */
            }
            .shop-overlay {
                width: 134px;
                height: 134px;
                position: absolute;
                top: 26%;
                left: 23%;
                border-radius: 50%;
                background: #3d3d3d;
                z-index: 1;
                opacity: 0;
                a {
                    height: 100%;
                    width: 100%;
                    font-size: 0.75rem;
                    color: $ls-contrast-font-color;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-direction: column;
                    -ms-flex-direction: column;
                    text-transform: uppercase;
                    text-decoration: none;
                    .fa-shopping-bag {
                        font-size: 2rem;
                        padding-bottom: 5px;
                    }
                }
            }
        }
        .card-body {
            background: map-get($ls-bg-colors, 'light-grey');
            width: 220px;
            height: 105px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 10px;
            overflow: hidden;
            * {
                color: $ls-primary-font-color;
                text-align: center;
            }
            .product-name {
                font-size: 0.75rem;
                text-transform: uppercase;
            }
            .product-price {
                font-size: 1.375rem;
            }
        }
    }
    &:hover {
        padding: 7.5px;
        .app-card {
            -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
            width: 240px;
            height: 415px;
            .card-img {
                width: 240px;
                height: 305px;
                img {
                    width: 240px;
                    height: 305px;
                }
                .shop-overlay {
                    opacity: 1;
                }
            }
            .card-body {
                width: 240px;
                height: 110px;
            }
        }
    }
}
